[run]
branch = True
patch = subprocess
relative_files = True
source =
    client
    config
    example
omit =
    */migrations/*
    */test_*.py
    */tests.py
    config/asgi.py
    config/wsgi.py

[report]
show_missing = True

[html]
directory = htmlcov
